<template>
	<div class="row dashboar">
		<div class="col-md-10 offset-md-1 card">
			<div class="card-body">
				<div class="cabecera col-md-12">				
	                <h2 class="card-title title-app">Tareas</h2>
	                <span data-toggle="modal" data-target="#newTaskModal">
	                    <button class="btn btn-success float-right"  data-toggle="tooltip" data-placement="bottom" title="Crea una nueva Categoria"><i class="fas fa-plus"></i>Crear</button>

	                </span>
				</div>
				<div class="cuerpo col-md-12">
					<TaskList /><!-- componente para listar las tareas -->
					
				</div>
			</div>			
		</div>
		<TaskNew /> <!-- componente para crear las tareas -->
	</div>
</template>
<script>

	import TaskList from './TaskList.vue'
	import TaskNew from './TaskNew.vue'
	
	export default{
		name: 'taskMain',
		components: { TaskList , TaskNew }
	}
</script>
<style scodep>
    h2.card-title{
        display: inline-block;
    }	
</style>