<template>
<!-- Modal -->
<div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title title-icon" id="exampleModalLabel"><i class="fas fa-tasks"></i>Nueva Tarea</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form @submit.prevent="createTask">
				    <div class="form-group ">
				        <input type="text" id="nameImput" name="name" class="form-control" :class="errors && errors.name ? 'imput-error' : '' "  v-model="formNewTask.name" placeholder="Ingres Su Nombre">
				        
				        <template v-if="errors">
				            <ul class="list-unstyled">
				                <li v-for="msj in errors.name" class="error" >
				                    <p class="error-text"><small>{{ msj }}</small></p> 
				                </li>
				            </ul>
				        </template> 
				        
				    </div>
				    <div class="form-group ">
				        <input type="text" id="descriptionImput" name="description" class="form-control" :class="errors && errors.description ? 'imput-error' : '' " v-model="formNewTask.description" placeholder="Ingrese Correo Electronico">

				        <template v-if="errors">
				            <ul class="list-unstyled">
				                <li v-for="msj in errors.description" class="error" >
				                    <p class="error-text"><small>{{ msj }}</small></p> 
				                </li>
				            </ul>
				        </template> 

				    </div>
				    <div class="form-group ">
				        <button type="submit" class="btn btn-success btn-lg btn-block"><i class="fas fa-save"></i>Guardar</button>
				    </div>
				</form>

			</div>
		</div>
	</div>
</div>
</template>
<script>

    import validate from 'validate.js'
    import { messageSuccess , messageError } from '../../helpers/messages'

	export default{
		name: 'new-task',
		data(){
			return {
				formNewTask: {
					name: '',
					description: ''
				},
				errors: null
			}
		},
		methods:{
			createTask(){
				this.errors = null;
				const constraints = this.getConstraints();
				const errorsValidation = validate(this.$data.formNewTask, constraints);
				if(errorsValidation) {
				    this.errors = errorsValidation
				    return
				}

                this.$store.dispatch('createTask', this.$data.formNewTask)
                .then((response)=>{
                	//$('#newTaskModal').modal('hide')
                	//this.clearImput()
                    messageSuccess("successfully saved task")
                })
                .catch((error)=>{
               		//$('#newTaskModal').modal('hide')
                	//this.clearImput()
                    messageError(error)
                })

			},
	        getConstraints() {
	            return {
	                name: {
	                    presence: {
	                        allowEmpty: false,
	                        message: "is required"
	                    },
	                    length: {
	                        minimum: 6,
	                        message: 'Must be at least 6 characters long'
	                    }                    
	                },
	                description: {
	                   presence: {
	                        allowEmpty: false,
	                        message: "is required"
	                    },
	                    length: {
	                        minimum: 6,
	                        message: 'must be at least 6 characters long'
	                    },
	                    length: {
	                        maximum: 70,
	                        message: 'is too long, accepts up to 70 characters'
	                    }	                    	     
	                }
	        	}
	    	},
	    	clearImput(){
	    		document.getElementById("nameImput").value = ""
                document.getElementById("descriptionImput").value = ""
	    	}
		}		
	}
</script>