<template>
	<table class="table table-striped table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Tarea</th>
				<th scope="col">Descripcion</th>
				<th scope="col">creada</th>
				<th scope="col">Acciones</th>
			</tr>
		</thead>
		<tbody>

            <template v-if="!getTasks.length">
                <tr>
                    <td colspan="5" class="text-center">No tiene tareas disponibles</td>
                </tr>
            </template> 
			<template v-else>
				<tr v-for="task in getTasks">
					<th scope="row">{{ task.name }}</th>
					<td>{{ task.description | cutDescription }}</td>
					<td>{{ task.created_at | formatDate }}</td>
					<td>
                        <button @click="deleteTask(task.id)" class="btn btn-danger btn-icon  btn-sm" data-toggle="tooltip" data-placement="bottom" title="Eliminar Tarea"><i class="far fa-trash-alt"></i></button>						
					</td>
				</tr>
			</template>
		</tbody>
	</table>	
</template>

<script>
	
	import { mapGetters } from 'vuex'
	import Swal from 'sweetalert2'
	import { messageSuccess , messageError } from '../../helpers/messages'

	export default{
		name: 'task-list',
		data(){
			return{
				tash: ""
			}
		},
		filters:{
			cutDescription: (str)=>{
				return `${str.substring(0, 40)}...`
			},
			changeStatus: (status)=>{
				return status ? "Terminada" : "En Proceso" 
			},
			formatDate(str){
				let dateSimple = str.split(" ");
				let dateFormated = dateSimple[0].split("-");
				return `${dateFormated[2]}-${dateFormated[1]}-${dateFormated[0]}`
			}
		},
		mounted(){
            this.$store.dispatch('getTasks')
        },
		updated(){
            this.$store.dispatch('getTasks')
        },        
		computed:{
			...mapGetters([
				'getTasks'
			])
		},
		methods: {
			deleteTask(id){
				const swalWithBootstrapButtons = Swal.mixin({
					confirmButtonClass: 'btn btn-success',
					cancelButtonClass: 'btn btn-danger',
					buttonsStyling: false,
				})

				swalWithBootstrapButtons.fire({
					title: 'Are you sure?',
					text: "You won't be able to revert this!",
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Yes, delete it!',
					cancelButtonText: 'No, cancel!',
					reverseButtons: true
				}).then((result) => {
				if (result.value) {
					this.$store.dispatch('deleteTask', id)
	                .then((response)=>{
	                    messageSuccess("successfully Deleted task")
	                })
	                .catch((error)=>{
	                	
	                    messageError(error)
	                })
				} else if (
				// Read more about handling dismissals
				result.dismiss === Swal.DismissReason.cancel
				) {
					swalWithBootstrapButtons.fire(
					  'Cancelled',
					  'Your imaginary file is safe :)',
					  'error'
					)
				}
				})



/*
				this.$store.dispatch('deleteTask', id)
                .then((response)=>{
                	console.log(response)
                	//$('#newTaskModal').modal('hide')
                	//this.clearImput()
                    //messageSuccess("successfully saved task")
                })
                .catch((error)=>{
                	console.log(error)

               		//$('#newTaskModal').modal('hide')
                	//this.clearImput()
                    //messageError(error)
                })	*/			
			}
		}
	}
</script>

<style scoped>
	
</style>