
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Bootstrap-switches
@import './Bootstrap-switches';

body{
	font-family: 'Open Sans', sans-serif;
}

.title-app{
	font-family: 'Lobster', cursive;
}

.btn i{
	padding-right: 5px;
}

.btn-icon i{
	padding-right: 0px !important;
}
.imput-error{
	border-color: #dc3545;
}

.toggle-handle{
	background-color: #fff;
}

.title-icon i {
	padding-right: 5px;
}

//inputs

.error-text{
	margin-bottom: 0rem;
	color:red;
}