<template>

	<form @submit.prevent="register">
	    <div class="form-group ">
	        <input type="text" name="name" class="form-control" :class="errors && errors.name ? 'imput-error' : '' "  v-model="formRegister.name" placeholder="Ingres Su Nombre">
	        
	        <template v-if="errors">
	            <ul class="list-unstyled">
	                <li v-for="msj in errors.name" class="error" >
	                    <p class="error-text"><small>{{ msj }}</small></p> 
	                </li>
	            </ul>
	        </template> 
	        
	    </div>
	    <div class="form-group ">
	        <input type="email" name="email" class="form-control" :class="errors && errors.email ? 'imput-error' : '' " v-model="formRegister.email" placeholder="Ingrese Correo Electronico">

	        <template v-if="errors">
	            <ul class="list-unstyled">
	                <li v-for="msj in errors.email" class="error" >
	                    <p class="error-text"><small>{{ msj }}</small></p> 
	                </li>
	            </ul>
	        </template> 

	    </div>
	    <div class="form-group ">
	        <input type="password" name="password" class="form-control" :class="errors && errors.password ? 'imput-error' : '' " v-model="formRegister.password" placeholder="Ingrese Contraseña">

	        <template v-if="errors">
	            <ul class="list-unstyled">
	                <li v-for="msj in errors.password" class="error" >
	                    <p class="error-text"><small>{{ msj }}</small></p> 
	                </li>
	            </ul>
	        </template>                         
	    </div>

	    <div class="form-group ">
	        <input type="password" name="confirPassword" class="form-control" :class="errors && errors.confirPassword ? 'imput-error' : '' " v-model="formRegister.confirPassword" placeholder="confirme Contraseña">

	        <template v-if="errors">
	            <ul class="list-unstyled">
	                <li v-for="msj in errors.confirPassword" class="error" >
	                    <p class="error-text"><small>{{ msj }}</small></p>  
	                </li>
	            </ul>
	        </template>                         
	    </div>

	    <div class="form-group ">
	        <button type="submit" class="btn btn-success btn-lg btn-block">Register</button>
	    </div>
	</form>
	
</template>

<script>
    import { messageErrorToast } from '../../helpers/messages'
    import validate from 'validate.js'

	export default{
		name: 'FormRegister',
		data(){
			return {
				formRegister: {
					name: '',
					email: '',
					password: '',
					confirPassword: ''
				},
				errors: null
			}
		},
	    methods:{
	        register(){  
				this.errors = null;
				const constraints = this.getConstraints();
				const errorsValidation = validate(this.$data.formRegister, constraints);
				if(errorsValidation) {
				    this.errors = errorsValidation
				    return
				}
				
                this.$store.dispatch('register', this.$data.formRegister)
                .then((response)=>{
                    this.$store.commit('register')
                    this.$store.commit('registerSuccess', response)
                    this.$router.push({path: '/dashboard'})
                })
                .catch((error)=>{
                    messageErrorToast(error)
                })
	        },
	        getConstraints() {
	            return {
	                name: {
	                    presence: {
	                        allowEmpty: false,
	                        message: "is required"
	                    },
	                    length: {
	                        minimum: 6,
	                        message: 'Must be at least 6 characters long'
	                    }                    
	                },
	                email: {
	                   presence: {
	                        allowEmpty: false,
	                        message: "is required"
	                    },
	                    email: true
	                },
	                password: {
	                   presence: {
	                        allowEmpty: false,
	                        message: "is required"
	                    },
	                    length: {
	                        minimum: 6,
	                        message: 'Must be at least 6 characters long'
	                    }
	                },
	                confirPassword: {
	                   presence: {
	                        allowEmpty: false,
	                        message: "is required"
	                    },
						equality: {
							attribute: "password",
      						message: "is not complex enough",
	                	}
	            	}
	        	}
	    	} 		
		}
	}	
</script>

<style scoped>

</style>