<template>
    <div class="container">
        <v-btn color="success" v-on:click="showAlert">Success</v-btn>
    </div>
</template>

<script>
    import Swal from 'sweetalert2'

    export default {
        name: 'btn-componet',
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            showAlert(){
                Swal.fire(
                  'The Internet?',
                  'That thing is still around?',
                  'question'
                )
            }
        }        
    }
</script>
