<template>
	<div class="home row">
		<div class="col-md-4 offset-md-1 section-a">
			<h1 class="title-app">Welcome to Laratter</h1>
			<p>This website was made for educational purposes to put into practice the course knowledge of laravel and vue js.</p>

			<p>the idea is to develop a SPA or "single page aplication" with the backen in Laravel and the fronten in Vue.</p>

			<p>We remind you that this is for educational purposes, not for commercial purposes.</p>
		</div>
		<div class="col-md-4 offset-md-1">
			<div class="card">
				<div class="card-body">
					<div class="list-group" id="myList" role="tablist">
						<ul class="nav nav-tabs">
							<li class="nav-item">
								  <a class="list-group-item list-group-item-action active" data-toggle="list" href="#login" role="tab">Sign In</a>
							</li>
							<li class="nav-item">
								<a class="list-group-item list-group-item-action" data-toggle="list" href="#register" role="tab">Register</a>
							</li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane active" id="login" role="tabpanel">
							<formLogin /> 
						</div>
						<div class="tab-pane" id="register" role="tabpanel">
							<formRegister />
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import formLogin from '../auth/login.vue'
	import formRegister from '../auth/register.vue'

    export default {
        name: 'home',
        components: { formLogin , formRegister }
    }
</script>
<style scoped>
	.home{
		-moz-background-size: cover;
		-o-background-size: cover;
		-webkit-background-size: cover;
		background-color: #9dffdb;
    	padding-top: 20vh;
        height: 100vh;
        margin-top: -20vh;
    }
    .list-group-item{
    	border-radius: 0; 	
    }
    .list-group-item.active{
    	border-color: #343a40;
        background-color: #343a40;
    }
    .tab-content{
    	margin-top: 15px;
    }
	@media screen and (max-width: 600px) {
		.home{
			padding-top: 5vh;
		}
	}
</style>