<template>
    <div id="main">
        <NavbarApp />
        <div class="container-fluid">
            <div class="justify-content-center">
                <router-view></router-view>
            </div>
        </div>
    </div>			
</template>


<script>
	import NavbarApp from './Navbar.vue'
    export default {
        name: 'main-app',
        components: { NavbarApp }
    }
</script>
<style scoped>
    .container-fluid{
        padding-top: 20vh;
    }

</style>