<template>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <router-link to="/" class="navbar-brand">{{ getNameApp }}</router-link> 

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <template v-if="getCurrentUser">
            <li class="nav-item">
              <router-link to="/dashboard" class="nav-link">Dashboard</router-link> 
            </li>
          </template>
        </ul>


     <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <template v-if="getCurrentUser">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ getCurrentUser.name }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a @click.prevent="logout" class="dropdown-item" href="#">Logout</a>
          </div>
        </li>        
      </template>
    </ul> 

  </div>
</nav>
</template>

<script>
	import { mapGetters } from 'vuex'
	export default{
		name: 'navbar-app',
    methods: {
        logout() {
            this.$store.commit('logout')
            this.$router.push({path : '/'})
        }
    },    
		computed:{
			...mapGetters(['getNameApp' , 'getCurrentUser'])
		}
	} 	
</script>

<style>
	
</style>